---
layout: page
# The Home page layout
# v2.0
---

<div id="post-list">
  {% for post in paginator.posts %}
  <div class="post-preview">
    <div class="post-image">
      <!-- <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> -->
      <a href="{{ site.baseurl }}{{ post.url }}"><img border="0" alt="Data Science" src="{{ post.cover }}" width="220px" height="140px">
      <div class="post-title"><h1>{{ post.title }}</h1></div></a>
    </div>
    <div class="post-content">
      <p>
      {{ post.content | strip_html | truncate: 320 | replace: '&', '&amp;' }}
      </p>

    <div class="post-meta text-muted">
      <!-- posted date -->
      <i class="far fa-clock fa-fw"></i>
      <span class="timeago" data-toggle="tooltip" data-placement="bottom"
        title="{{ post.date | date: site.data.date_format.tooltip }}">
      {{ post.date | date: site.data.date_format.post }}
      <i class="unloaded">{{ post.date | date_to_xmlschema }}</i>
      </span>
      <!-- page views -->
      {% if site.google_analytics.pv.enabled %}
      <i class="far fa-eye fa-fw"></i>
      <span id="pv_{{-post.title-}}" class="pageviews">
        <i class="fas fa-spinner fa-spin fa-fw"></i>
      </span>
      {% endif %}
    </div>
    </div>
  </div> <!-- .post-review -->
  {% endfor %}
</div> <!-- #post-list -->

{% if paginator.total_pages > 0 %}
  {% include post-paginator.html %}
{% endif %}
